[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
nltk = "*"
scikit-learn = "==0.23.*"
voikko = "*"
jupyter = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
